html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #F6F6F6;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif;
  font-size: 15px;
  color: #1A1A1A;
  height: 100%;
}
.home {
  min-height: 100%;
}



#app {
  height: 100%;
  .top-container {
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .index-container {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.index-container {
  display: flex;
  .nav {
    background-color: #ededed;
    width: 200px;
    height: 100%;
    // li {
    //   height: 60px;
    //   cursor: pointer;
    //   display: flex;
    //   align-items: center;
    //   &:hover {
    //     background-color: #e7e7e7;
    //   }
    //   .iconfont {
    //     margin-right: 10px;
    //     font-size: 20px;
    //   }
    //   a {
    //     color: black;
    //     padding-left: 30px;
    //     font-size: 18px;
    //     line-height: 60px;
    //     width: 100%;
    //     height: 100%;
    //     &.router-link-active {
    //       color: #dd6d60;
    //       .iconfont {
    //         color: #dd6d60;
    //       }
    //     }
    //   }
    // }
  }
  .main {
    flex: 1;
    overflow-y: scroll;
    padding: 10px 20px;
    > div {
      max-width: 1100px;
      margin: 0 auto;
    }
  }
  .player {
    background: #f1f3f4;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  audio {
    width: 100%;
    border-radius: none;
    outline: none;
  }
}
.top-container {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  background-color: #f9f9f9;
  width: 100%;
  .left-box {
    display: flex;
    // 图标
    .icon-wrapper {
      margin-right: 80px;
      font-size: 20px;
      .iconfont {
        margin-right: 10px;
        font-size: 12px;
        width: 18px;
        height: 18px;
        display: inline-block;
        text-align: center;
        line-height: 18px;
        &::before {
          opacity: 0;
          transition: 0.2s;
        }
        &:hover::before {
          opacity: 1;
        }
        &.icon-home {
          background-color: #dd6d60;
          border-radius: 50%;
        }
        &.icon-sami-select {
          background-color: #dcc060;
          border-radius: 50%;
        }
        &.icon-full-screen {
          background-color: #84bb58;
          border-radius: 50%;
        }
      }
    }
    // 历史管理
    .history-wrapper {
      display: flex;
      align-items: center;
      .iconfont {
        width: 35px;
        height: 35px;
        font-size: 30px;
        text-align: center;
        line-height: 35px;
        color: gray;
        border-radius: 50%;
        transition: 0.2s;
        cursor: pointer;
        &:first-child {
          margin-right: 10px;
        }
        &:hover {
          background-color: #ebebeb;
        }
      }
    }
  }
  .right-box {
    display: flex;
    align-items: center;
  }
}